/* Main Rolez*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
body {
    font-family: 'Varela Round', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: montserrat,sans-serif;
}
button {
	font-family: inherit;
}
a{
	text-decoration: none;
}

/* classes */
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
	margin-bottom: 15px;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.float-left {
    float: left;
}
.container {
	width: 80%;
    height: 100%;
	margin: 0 auto;
}
.clear {
	clear: both;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.63);

}
.pd-y {
	padding: 120px 0;
}
.p-90{
	padding: 90px 0;
}
.mb-10 {
	margin-bottom: 10px;
}
.mr-l {
	margin: 0 5%;
}
.hover-opacity {
	transition: opacity .6s;
}
.hover-opacity:hover {
	opacity: 0.8;
}
/* .section-header */
.section-header {
	text-align: center;
}
.section-header .section-title {
	font-size: 25px;
	margin-bottom: 7px;
}
.section-header .line {
	display: block;
	height: 3px;
	width:40px;
	margin: 0 auto 70px auto;
	background-color: var(--maincolor);
}
/* ./section-header */
.ltr-effect,
.tb-effect {
	position: relative;
}
.ltr-effect:after,
.tb-effect:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgb(58, 58, 58);
	z-index: -2;
}
.ltr-effect:after{
	width: 0;
	transition: width .6s;
}
.ltr-effect:hover:after{
	width: 100%;
}
.tb-effect:after{
	height: 0;
	transition: height .5s;
}
.tb-effect:hover:after{
	height: 100%;
}

/* End Main Roluz*/
/* Header */
.header {
    padding: 10px 0;
    height: 70px;
	width: 100%;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.6);
	margin-bottom: 60px;
}
.header .logo {
    padding: 5px;
	width: 35%;
    height: 100%;
}
.header .logo img {
	width: 60%;
}
.header .nav {
	width: 65%;
	list-style: none;
	text-align: right;
    height: 100%;
}
.header .nav > li {
	display: inline-block;
	text-align: center;
}
.header .nav > li > a {
	color: var(--white);
	text-decoration: none;
	display: block;
    padding: 0px 10px;
    font-size: 15px;
    margin: 10px 0 0 0;
}
.header .nav > li > a.active:after,
.header .nav > li > a:after {
	content: "";
	display: block;
	height: 3px;
	background-color: var(--maincolor);
	transition: width .6s;
	margin-top: 2px;
}
.header .nav > li > a.active:after {
	width: 100%;
}
.header .nav > li > a:after {
	width: 0;
}
.header .nav > li > a:hover:after {
	width: 100%;
}
.dropdown {
	position: relative;
}
.dropdown-menu {
	position: absolute;
	background-color: var(--maincolor);
	width: 170px;
	right: 25%;
	top: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.7s;
}
.dropdown-menu a{
	color: var(--white);
	display: block;
	padding: 10px;
}
.dropdown:hover .dropdown-menu{
	opacity: 1;
	visibility: visible;
}

/* Login Area Style */
/* Form Style */
.login {
    width: 60%;
    height: 420px;
	margin-bottom: 60px;
    padding: 50px;
    background: #eeeeee;
    float: left;
}
.login h2 {
    text-align: center;
    margin: 20px 0;
}
.input-g{
    width: 50%;
    display: inline-block;
}
.input-g span {    
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    padding: 8px 5px;
    display: inline-block
}
#remember{
    width: 20px;
    height: 20px;
}
/* .input-g label{ 
    width: 200px;
    height: 20px;
    justify-content: center;
    text-align: center;
} */
.input-g input,
.button-g button {
    width: 300px;
    height: 40px;
    padding: 8px;
    margin: 10px 3px;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
}
.button-g {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    padding: 10px
}
.button-g button {
    width: 150px;
    color: #ffffff;
    background: #218c74;
    transition: ease-in-out .5s all;
}
.button-g button:hover {
    background: #eeeeee;
    color: #000000;
}
/* Social Login Style */
.social-login-g {
    width: 40%;
    height: 100%;
    float: right;
}
.social-login-g .facebook,
.social-login-g .google {
    color: white;
    margin: 10px 0;
    padding: 8px 5px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}
.social-login-g .ico{
    float: left;
    padding: 2px 0;
    width: 25px;
    height: 25px;
}
.social-login-g .facebook{
    background: #32519b;

}
.social-login-g .google {
    background: #d0463b;
}
.social-login-g .facebook:hover{
    background: #2b4685;
}
.social-login-g .google:hover {
    background: #af372f;
}


/* App Area Style */

.app {
    width: 30%;
}


/* Footer */
.footer{
    position: relative;
	background-color: #1c1d21;
	text-align: center;
	padding: 60px 0;
}
.footer-links li{
	display:inline-block;
	margin: 5px;
}
.footer-links li a {
	display: block;
	width:40px;
	height:40px;
	background:var(--maincolor);
	color:var(--white);
	border-radius:50%;
}
.footer-links li a i {
	line-height:40px;
	font-size: 25px;
}
.footer .copy {
	color: #999;
	margin: 10px 0 5px 0;
}
.footer .author-footer{
	font-size:20px;
	margin : 10px 0 0 0;
	color: #999;	
}
.footer .author-footer i {
	color: rgb(206, 63, 63);
}